<div>
  <span class="title margin-botton-10">
    Los más Recientes
  </span>
</div>

<article class="message" *ngFor="let producto of productos">
  <div class="message-header">
    <p class="subtitle white">{{producto.name}}</p>
  </div>
  <div class="message-body">
    {{producto.descripcion}}
    <br> Precio: {{producto.price}} €
    <br> Fabricante: {{producto.fabricante}}
    <div class="message-footer">
      <button (click)="addProducto(producto)" class="button is-danger">Añadir al carrito</button>
    </div>
  </div>
</article>
